JuliarAndroidLib.jar
temp/*
.idea/workspace.xml
.idea/sonarlint/*

*.tokens

src/com/juliar/parser/juliarBaseVisitor.java

src/com/juliar/parser/juliarLexer.java

src/com/juliar/parser/juliarParser.java

src/com/juliar/parser/juliarVisitor.java

.idea/workspace.xml

.idea/workspace.xml

.idea/workspace.xml

*.class

.idea/*.xml

.idea/.idea/*

JuliarCompiler.jar

test2.jrl

out/com/*

out/.idea/src.iml

out/com/juliar/parser/juliar.g4
.idea/misc.xml
.idea/misc.xml
gen/com/juliar/parser/juliar.tokens
gen/com/juliar/parser/juliarBaseListener.java
gen/com/juliar/parser/juliarBaseVisitor.java
gen/com/juliar/parser/juliarLexer.java
gen/com/juliar/parser/juliarLexer.tokens
gen/com/juliar/parser/juliarListener.java
gen/com/juliar/parser/juliarParser.java
gen/com/juliar/parser/juliarVisitor.java
hs_err_pid19144.log


.idea/.idea/.idea.iml
.idea/.idea/misc.xml
.idea/.idea/modules.xml
.idea/.idea/misc.xml
.idea/.idea/compiler.xml

out/.idea/compiler.xml

out/.idea/copyright/profiles_settings.xml

out/.idea/misc.xml

out/.idea/modules.xml

out/.idea/workspace.xml

out/com/juliar/gui/juliar.fxml
